<head>
  <title>Turbo Tutor</title>
</head>

<div id="button_background">
  <center>
    <h1 id= "welcome"> Welcome to Turbo Tutor! </h1>
    <h2 id="button_descrip"> I am a: </h2>
    <button id="student_button" ng-click="vm.toggle_student()" class="home"> Student </button>
    <button id="tutor_button" ng-click="vm.toggle_tutor()" class="home"> Tutor </button>
  </center>
</div>

<div id="login_form_student" class = "login_student">
  <center>
  <form >
    <h4>Name</h4>
    <input class="form-control" ng-model="vm.formdata.name" placeholder="Name">
    <h4>Grade</h4>
    <select class="form-control" ng-model="vm.formdata.grade">
      <option value="Freshman">Freshman</option>
      <option value="Sophomore">Sophomore</option>
      <option value="Junior">Junior</option>
      <option value="Senior">Senior</option>
      <option value="Grad Student">Grad Student</option>
    </select>
    <h4>Subject you need help in</h4>
    <select class="form-control" ng-model="vm.formdata.subject">
      <option value= "architecture">Architecture</option>
      <option value= "business">Business</option>
      <option value= "chemistry">Chemistry</option>
      <option value= "computer_science">Computer Science</option>
      <option value= "economics">Economics</option>
      <option value= "engineering">Engineering</option>
      <option value= "foreign_language">Foreign Language</option>
      <option value= "history">History</option>
      <option value= "mathematics">Mathematics</option>
      <option value= "philosophy">Philosophy</option>
      <option value= "physics">Physics</option>
      <option value= "science">Science</option>
      <option value= "theology">Theology</option>
      <option value= "writing"> Writing/English</option>
    </select>
  </form>
  <button ng-click ="vm.post_click_student()" class="submit">Start!</button>
  </center>
</div>

<div id="login_form_tutor" class = "login_tutor">
  <center>
  <form >
    <h4>Name</h4>
    <input class="form-control" ng-model="vm.formdata.name" placeholder="Name">
    <h4>Grade</h4>
    <select class="form-control" ng-model="vm.formdata.grade">
      <option>Freshman</option>
      <option>Sophomore</option>
      <option>Junior</option>
      <option>Senior</option>
      <option>Grad Student</option>
    </select>
    <h4>Subject you want to tutor</h4>
    <table id = "tutor_classes">
      <tr>
        <th><input  ng-model="vm.formdata.subject.architecture" type= "checkbox" value= "Architecture">Architecture</input></th>
        <th><input  ng-model="vm.formdata.subject.business" type= "checkbox" value= "Business">Business</input></th>
        <th><input  ng-model="vm.formdata.subject.chemistry" type= "checkbox" value= "Chemistry">Chemistry</input></th>
        <th><input  ng-model="vm.formdata.subject.computer_science" type= "checkbox" value= "Computer Science">Computer Science</input></th>
        <th><input  ng-model="vm.formdata.subject.economics" type= "checkbox" value= "Economics">Economics</input></th>
        <th><input  ng-model="vm.formdata.subject.engineering" type= "checkbox" value= "Engineering">Engineering</input></th>
        <th><input  ng-model="vm.formdata.subject.foreign_language" type= "checkbox" value= "Foreign Language">Foreign Language</input></th>
      </tr>
      <tr>
        <th><input  ng-model="vm.formdata.subject.history" type= "checkbox" value= "History">History</input></th>
        <th><input  ng-model="vm.formdata.subject.mathematics" type= "checkbox" value= "Mathematics">Mathematics</input></th>
        <th><input  ng-model="vm.formdata.subject.philosophy" type= "checkbox" value= "Philosophy">Philosophy</input></th>
        <th><input  ng-model="vm.formdata.subject.physics" type= "checkbox" value= "Physics">Physics</input></th>
        <th><input  ng-model="vm.formdata.subject.science" type= "checkbox" value= "Science">Science</input></th>
        <th><input  ng-model="vm.formdata.subject.theology" type= "checkbox" value= "Theology">Theology</input></th>
        <th><input  ng-model="vm.formdata.subject.writing" type= "checkbox" value= "Writing/English"> Writing/English</input></th>
      </tr>
    </table>
  </form>
  <button ng-click= "vm.post_click_tutor()" class="submit">Start!</button>
  </center>
</div>

<div id="site_description">
  <h1>What is Turbo Tutor?</h1>
  <h3>Turbo Tutor is the world's most convenient way to
    connect students with help that they need!
  </h3>
  <p> Current methods of tutoring are inconvenient for both the student seeking help
  and the tutor.  Oftentimes, tutoring schedules do not line up
  with the available times for the student, which means the tutors sit idly for hours
  and the students don't get the help that they need.  Turbo Tutor solves both of these
  problems by allowing tutors to set their own schedules and students to get instant help.
  </p>
</div>
